@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library</h1>
    <p class="lead">This library contains the most famous authors novells</p>
    <p><a href="#" class="btn btn-primary btn-lg">Read more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To start work with library and to see books list you shoud reference "Books" thumbnail
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Help more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>To get book details, push "Details" button in front of book entry</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Help more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Managing</h2>
        <p>You can easily add, modify and delete books information.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Help more &raquo;</a></p>
    </div>
</div>

@section scripts {

}